h1{
  background-color: orange;
  display: inline;
  padding: 8px 18px;
  margin-top: 70px;
  margin-bottom:70px;
  margin-left: 30px;
}
body{

   background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/menu_background.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin: 0px;
  font-family: Arial;
}
.menu_title{
      margin-top: 30px;
      margin-bottom:30px;
      margin-left: 30px;
}
img {
   margin-top: 50px;
   margin-left: 355px;

}
.menu_list{
       margin-top: 10px;
      margin-bottom:10px;
      margin-left: 30px;
}


.menu_list_item{
          margin:50px 30px;
}

.menu_list_title{
       font-weight: bold;
       font-size: 30px;
       display: inline-block;
       width:350px;
}
.menu_list_toto{

       font-size:  25px;
       color: orange;
       display: inline-block;
       margin-left: 200px;
       width: px;
       text-align: right;
}
.menu_ingredients{
      font-size: 15px;
       margin-top: 15px;
       display: block;
       width: 320px;
}
.menu_vegetarienne{
      font-weight: bold;
      font-size: 15px;
      color: black;
      background-color: orange;
      padding: 8px 22px;
      border-radius: 17px;
}