body {
      background: white url("images/main_background.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centerd{
   position: fixed;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%)
}
a{
 display: block;
 text-align: center;
 color: red;
 margin-top: 30px;
 font-size: 18px;
}