{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>menu des pizzas</title>
    <link rel="stylesheet" href="/static/menu/style.css">
</head>
<body>
<a href="{% url 'main:index' %}"><img src="/static/menu/images/small_logo.png" id="small_logo.png"></a>
   <div class="menu_title">
       <h1> les pizzas </h1>
   </div>
   <div class="menu_list">
       {% for pizza in pizzas %}
             <div class="menu_list_item">
                 <span class="menu_list_title">{{pizza.nom}} :</span>
                 <span class="menu_list_toto">{{pizza.prix | floatformat:2}} €</span>
                 <br>
                 <span class="menu_ingredients">{{pizza.ingredients}}</span>
                 <br>
                 {%if pizza.vegetarienne %}

                 <span class=" menu_vegetarienne">vegetarienne</span>
                 {% endif %}
             </div>

       {% endfor %}

   </div>
</body>
</html>